<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon name="{{ department.icon }}" class="icon-padding"></ion-icon>
      {{ department.name }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="spinner">
    <ion-spinner *ngIf="showLoading"></ion-spinner>
  </div>

  <!-- On Sale Products -->
  <section class="blueSection" *ngIf="!showLoading && highlighted.length != 0">
    <ion-icon name="star-outline"></ion-icon>
    <span>Destaques</span>
  </section>

  <ion-slides pager slidesPerView="2" *ngIf="!showLoading && highlighted.length != 0">

    <ion-slide *ngFor="let product of highlighted">
      <ion-card *ngIf="product">
        <ion-card-content>
          <p class="blueName">{{ product.name }} {{product.variety}} {{product.package}}</p>

          <div class="img-container-highlighted" [style.background-image]="'url('+product.photo+')'" (click)="showProductDetails(product.id)"></div>

          <p class="bluePrice" *ngIf="product.amount > 0">{{ product.value}}</p>
          <p class="bluePrice" *ngIf="product.amount <= 0">Produto Indisponível</p>

          <button (click)="addToChart(product.id)"
                  *ngIf="product.amount > 0"
                  ion-button
                  icon-right
                  outline
                  block
                  small
                  color="bluebag-dark">
            Adicionar <ion-icon name="basket"></ion-icon>
          </button>
        </ion-card-content>
      </ion-card>
    </ion-slide>

  </ion-slides>
  <!-- End of On Sale Products -->

  <!-- Filter Section -->
  <section class="filterSection" *ngIf="!showLoading && products.length != 0">
    <ion-icon name="funnel"></ion-icon>
    <span>Filtrar</span>
  </section>
  <ion-item *ngIf="!showLoading && products.length != 0">
    <ion-label>Categoria</ion-label>
    <ion-select [(ngModel)]="selectedCategory" (ionChange)="getProductsByCategory()">
      <ion-option value="all">Todas</ion-option>
      <ion-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</ion-option>
    </ion-select>
  </ion-item>
  <!-- End of Filter Section -->

  <ion-list *ngIf="!showLoading">
    <ion-item *ngFor="let product of products" text-wrap text-center>
      <ion-thumbnail item-start (click)="showProductDetails(product.id)">
        <div class="img-container" [style.background-image]="'url('+product.photo+')'"></div>
      </ion-thumbnail>

      <p>{{ product.name }} {{ product.variety }} {{ product.package }}</p>

      <h1 class="productValue" padding-vertical *ngIf="product.amount > 0">{{product.value}}</h1>
      <h1 class="productValue" padding-vertical *ngIf="product.amount <= 0">Produto Indisponível</h1>

      <button *ngIf="product.amount > 0"
              (click)="addToChart(product.id)"
              ion-button
              icon-right
              outline
              block
              color="bluebag-dark">
        Adicionar <ion-icon name="basket"></ion-icon>
      </button>

      <!--<p class="clientInfo">-->
        <!--Vendido e entregue por:-->
        <!--<b>{{ product.client.data.name }}</b>-->
      <!--</p>-->
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="getMoreProducts($event)" *ngIf="productsPagination" [enabled]="productsPagination.current_page < productsPagination.total_pages">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
