page-category_detail {
  div.spinner {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 100px;
    text-align: center;
  }

  div.swiper-pagination {
    top:245px; bottom:inherit;
    //margin-bottom: 10% !important;
  }

  ion-slides {
    max-height: 260px;
    padding-top: 0 !important;
    margin-top: 0 !important;
  }

  ion-list {
    margin-top: 5% !important;
  }

  .blueSection {
    font-size: 1.3em;
    margin: 5% 0 0 3%;
    padding: 0;
  }

  .filterSection {
    font-size: 1.1em;
    margin: 5% 0 2% 3%;
    padding: 0;
  }

  .onSaleSection {
    font-size: 1.3em;
    margin: 10% 0 0 3%;
    padding: 0;
  }

  .blueName {
    //overflow: hidden !important;
    //text-overflow: ellipsis !important;
    //white-space: nowrap !important;
  }

  .bluePrice {
    margin-top: 10%;
    font-size: 1.3em;
    font-weight: bold;
    color: color($colors, bluebag-dark);
  }

  .card {
    display: flex;
    height: 230px;
    width: 95%;
    margin: 5% 0 10% 5%;
  }

  .card-content {
    width: 100%;
    margin: auto;
  }

  .productValue {
    color: color($colors, bluebag-dark);
    font-weight: bold;
  }

  .first-number {
    font-size: 1.4em;
  }

  .icon-padding {
    padding-right: 3%;
  }

  .clientInfo {
    font-size: 0.8em;
    margin-top: 5% !important;
  }

  img {
    max-height: 70px !important;
    max-width: 70px !important;
    margin: 10% auto;
  }
}

/* Toast custom background colors */
ion-toast.success .toast-wrapper {
  background: green;
}
ion-toast.error .toast-wrapper {
  background: rgb(209, 71, 71);
}
/* END of Toast custom background colors */

.productValue {
  color: color($colors, bluebag-dark);
  font-weight: bold;
}