<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon name="{{ department.icon }}" class="icon-padding"></ion-icon>
      {{ department.name }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="spinner">
    <ion-spinner *ngIf="showLoading"></ion-spinner>
  </div>

  <ion-card *ngIf="!showLoading">
    <img src="assets/img/product-default.jpg" height="100" />
    <ion-card-content>
      <ion-card-title>
        Produto em destaque
      </ion-card-title>
      <ion-grid>
        <ion-row>
          <ion-col col-12 text-center>
            <h1 class="productValue">R$ <span class="first-number">12</span>,55</h1>
          </ion-col>
        </ion-row>
        <!-- Add Button Row -->
        <ion-row>
          <button ion-button icon-right block color="bluebag-dark" (click)="addToChart(product.id)">
            Adicionar <ion-icon name="basket"></ion-icon>
          </button>
        </ion-row>
        <!-- End of Add Button Row -->
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="!showLoading">
    <ion-item *ngFor="let product of products" text-wrap text-center>
      <ion-thumbnail item-start>
        <img [src]="configProvider.base_url+'/products/'+product.id+'/photo'">
      </ion-thumbnail>

      <p>{{ product.name }}</p>
      <h1 class="productValue" padding-vertical>
        R$ {{ product.value.toFixed(2).toString().replace('.', ',') }}
      </h1>
      <button ion-button icon-right outline block color="bluebag-dark" (click)="addToChart(product.id)">
        Adicionar <ion-icon name="basket"></ion-icon>
      </button>

    </ion-item>
  </ion-list>
</ion-content>
