<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon name="{{ department.icon }}" class="icon-padding"></ion-icon>
      {{ department.name }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="spinner">
    <ion-spinner *ngIf="showLoading"></ion-spinner>
  </div>

  <!-- On Sale Products -->
  <section class="blueSection" *ngIf="!showLoading">
    <ion-icon name="star-outline"></ion-icon>
    <span>Destaques</span>
  </section>

  <ion-slides pager slidesPerView="2" *ngIf="!showLoading">
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <p>Combo de Cervejas</p>

          <ion-thumbnail>
            <img src="assets/img/product-default.jpg"/>
          </ion-thumbnail>

          <p class="bluePrice">R$ 14,90</p>
          <button ion-button outline icon-right block small color="bluebag-dark">
            Adicionar <ion-icon name="basket"></ion-icon>
          </button>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-content>
          <p>Combo de Cervejas</p>

          <ion-thumbnail>
            <img src="assets/img/product-default.jpg"/>
          </ion-thumbnail>

          <p class="bluePrice">R$ 5,89</p>
          <button ion-button outline icon-right block small color="bluebag-dark">
            Adicionar <ion-icon name="basket"></ion-icon>
          </button>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-content>
          <p>Combo de Cervejas</p>

          <ion-thumbnail>
            <img src="assets/img/product-default.jpg"/>
          </ion-thumbnail>

          <p class="bluePrice">R$ 14,90</p>
          <button ion-button outline icon-right block small color="bluebag-dark">
            Adicionar <ion-icon name="basket"></ion-icon>
          </button>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-content>
          <p>Combo de Cervejas</p>

          <ion-thumbnail>
            <img src="assets/img/product-default.jpg"/>
          </ion-thumbnail>

          <p class="bluePrice">R$ 15,89</p>
          <button ion-button outline icon-right block small color="bluebag-dark">
            Adicionar <ion-icon name="basket"></ion-icon>
          </button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <!-- End of On Sale Products -->

  <ion-list *ngIf="!showLoading">
    <ion-item *ngFor="let product of products" text-wrap text-center>
      <ion-thumbnail item-start (click)="showProductDetails(product.id)">
        <img [src]="configProvider.base_url+'/products/'+product.id+'/photo'">
      </ion-thumbnail>

      <p>{{ product.name }} - {{ product.variety }} - {{ product.package }}</p>

      <h1 class="productValue" padding-vertical>
        R$ {{ product.value.toFixed(2).toString().replace('.', ',') }}
      </h1>

      <button ion-button icon-right outline block color="bluebag-dark" (click)="addToChart(product.id)">
        Adicionar <ion-icon name="basket"></ion-icon>
      </button>

      <p class="clientInfo">
        Vendido e entregue por:
        <b>{{ product.client.data.name }}</b>
      </p>
    </ion-item>
  </ion-list>
</ion-content>
