<ion-header>
  <ion-navbar>
    <ion-title>BlueBag</ion-title>
    <ion-buttons end>
      <button ion-button clear *ngIf="showInList" (tap)="changeViewMode()">
        <ion-icon name="grid"></ion-icon>
      </button>
      <button ion-button clear *ngIf="!showInList" (tap)="changeViewMode()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-searchbar [(ngModel)]="searchText" (ionInput)="onInput($event)" debounce="500" placeholder="Buscar..."></ion-searchbar>
</ion-header>

<ion-content padding-vertical>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="spinner" *ngIf="showLoading">
    <h2>Buscando</h2>
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <ion-list *ngIf="searchResults.length != 0">
    <ion-item *ngFor="let product of searchResults" text-wrap text-center>
      <ion-thumbnail item-start>
        <div class="img-container" [style.background-image]="'url('+product.photo+')'" (click)="showProductDetails(product.id)"></div>
      </ion-thumbnail>

      <p>{{ product.name }} {{product.variety}} {{product.package}}</p>

      <h1 class="productValue" padding-vertical *ngIf="product.amount > 0">R$ {{ product.value.toFixed(2).toString().replace('.', ',') }}</h1>
      <h1 class="productValue" padding-vertical *ngIf="product.amount <= 0">Produto Indisponível</h1>

      <button *ngIf="product.amount > 0"
              (click)="addToChart(product.id)"
              ion-button
              icon-right
              outline
              block
              color="bluebag-dark">
        Adicionar <ion-icon name="basket"></ion-icon>
      </button>

    </ion-item>
  </ion-list>

  <ion-list *ngIf="!showLoading && showInList" no-margin no-padding>
    <button ion-item *ngFor="let department of departments" (click)="goToProductsPage(department.name, department.icon, department.id)">
      <ion-icon [name]="department.icon" item-start color="bluebag-dark"></ion-icon>
      <span>{{ department.name }}</span>
    </button>
  </ion-list>


  <ion-grid *ngIf="!showLoading && !showInList">
    <ion-row>
      <ion-col col-6 *ngFor="let department of departments" (tap)="goToProductsPage(department.name, department.icon, department.id)">
        <ion-card>
          <ion-card-content text-wrap text-center>
            <ion-icon [name]="department.icon" color="bluebag-dark" class="fix-icon-card"></ion-icon>
            <span>{{ department.name }}</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
