<ion-header>

  <ion-navbar>
    <ion-title>BlueBag</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <div class="spinner">
    <ion-spinner *ngIf="showLoader"></ion-spinner>
  </div>

  <div class="fix-center" *ngIf="!showLoader && invoices.length == 0">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <h2>Você ainda não realizou nenhum pedido.</h2>
        </ion-col>
      </ion-row>

      <ion-row text-center>
        <ion-col col-12>
          <ion-icon name="basket" color="bluebag-light" style="font-size: 5em;"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row>
        <button ion-button block color="bluebag-light" (click)="goToDepartmentsPage()">Buscar produtos</button>
      </ion-row>
    </ion-grid>
  </div>

  <!-- INVOICES -->
  <ion-list *ngIf="!showLoader">

    <ion-list-header>
      <h2>
        <ion-icon name="basket"></ion-icon>
        Meus Pedidos
      </h2>
    </ion-list-header>

    <ion-item *ngFor="let invoice of invoices">
      <ion-grid no-padding>
        <ion-row>

          <ion-col col-6>
            <h2>{{ invoice.code }}</h2>
            <p>Item(s): {{invoice.products.data.length}}</p>
          </ion-col>

          <ion-col col-6>
            <div float-right>
              <h2>{{invoice.total}}</h2>
              <p>{{invoice.created_at}}</p>
            </div>
          </ion-col>

        </ion-row>
        <!-- Button Row -->
        <ion-row>
          <ion-col col-12 text-center>
            <button ion-button clear color="bluebag-dark" no-margin no-padding (click)="goToDetails(invoice.id)">
              Detalhes
              <ion-icon name="arrow-forward" margin-left></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <!-- End of Button Row -->
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
