<ion-header>
  <ion-navbar>
    <ion-title>BlueBag</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-bottom>
  <section class="blueSection">
    <ion-icon name="star-outline" color="bluebag-dark"></ion-icon>
    <span>Sessão Blue</span>
  </section>

  <div *ngIf="products">
    <ion-card *ngFor="let product of products">
      <ion-card-content text-wrap text-center>
        <span (click)="showProductDetails(product.id)">
          <p>{{ product.name }} {{ product.variety }} {{ product.package }}</p>

          <div class="img-container" [style.background-image]="'url('+product.photo+')'"></div>

          <p class="productPrice" *ngIf="product.amount > 0">R$ {{ product.value.toFixed(2).toString().replace('.', ',') }}</p>
          <p class="productPrice" *ngIf="product.amount <= 0">Produto Indisponível</p>
        </span>

        <button (tap)="addToChart(product.id)"
                *ngIf="product.amount > 0"
                ion-button
                icon-right
                outline
                block
                small
                color="bluebag-dark">
          Adicionar <ion-icon name="basket"></ion-icon>
        </button>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="fix-center" *ngIf="products.length == 0">
    <ion-grid>
      <ion-row text-center>
          <ion-col col-12>
            <ion-icon name="sad" color="bluebag-light" style="font-size: 5em;"></ion-icon>
          </ion-col>
        </ion-row>

      <ion-row>
        <ion-col col-12>
          <h4>Desculpe, no momento não temos produtos em promoção</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-infinite-scroll (ionInfinite)="getMoreProducts($event)" *ngIf="productsPagination" [enabled]="productsPagination.current_page < productsPagination.total_pages">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
