page-home {
  .blueSection {
    font-size: 1.3em;
    margin: 5% 0 0 3%;
  }

  .onSaleSection {
    font-size: 1.3em;
    margin: 10% 0 0 3%;
    padding: 0;
  }

  .bluePrice {
    font-size: 1.3em;
  }

  .card {
    display: flex;
    //width: 92%;
    margin: 5% 0 0 4%;
    border-radius: 5px;
  }

  .card-content {
    width: 100%;
  }

  img {
    max-width: 50px !important;
    max-height: 100px !important;
    margin: 10% auto;
  }

}
