page-sign-up {
  ion-list-header {
    font-size: 1.2em !important;
    font-weight: bold !important;
  }

  .item-list {
    cursor: pointer;
  }

  .center {
    text-align: center;
  }

  .fix-margin-top {
    margin-top: 15% !important;
  }
}
