page-settings {
  ion-icon {
    font-size: 30px;
  }

  span {
    font-weight: bold;
  }

  .header-section > p {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
  }

  .header-section {
    background-color: color($colors, bluebag-grey);
    min-height: 40px;
    padding: 3% 0;
  }
}
