page-product {
  ion-item {
    margin-bottom: 0 !important;
  }

  img {
    max-width: 30px !important;
    max-height: 100px !important;
    margin: 0 auto;
  }

  ion-thumbnail {
    background-color: #fff;
    height: 120px !important;
  }

  .productPrice {
    font-size: 1.3em;
    font-weight: bold;
    color: color($colors, bluebag-dark);
  }

  .productAttr {
    display: inline;
    font-weight: bold;
    font-style: italic;
    color: color($colors, bluebag-dark);
    text-align: right;
  }
}
