page-invoice-details {
  div.spinner {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 100px;
    text-align: center;
  }

  ion-list-header {
    font-weight: bold !important;
  }

  ion-icon {
    font-size: 3em;
  }

  ion-item {
    margin: 0 !important;
  }

  small {
    display: block;
    text-align: center;
  }

  .info {
    font-weight: bold !important;
    padding-bottom: 3%;
  }

  .fix-padding-top {
    padding-top:20% !important;
  }

  #total p {
    font-size: 1.3em !important;
    font-weight: bold;
  }
}
