<ion-header>

  <ion-navbar>
    <ion-title>Checkout</ion-title>
  </ion-navbar>
  <nav>
    <ol class="cd-multi-steps text-top count">
      <li [ngClass]="{'visited': (checkoutSlider.getActiveIndex() > 0), 'current': (checkoutSlider.getActiveIndex() == 0)}">
        <em>Endereço</em></li>
      <li [ngClass]="{'visited': (checkoutSlider.getActiveIndex() > 1), 'current': (checkoutSlider.getActiveIndex() == 1)}">
        <em>Pagamento</em></li>
      <li [ngClass]="{'current': (checkoutSlider.getActiveIndex() == 2)}"><em>Revisão</em></li>
    </ol>
  </nav>
</ion-header>


<ion-content no-padding>

  <ion-slides #checkoutSlider padding-vertical>
    <!-- ADDRESS -->
    <ion-slide>
      <p>Qual o endereço para entrega?</p>

      <ion-list>
        <ion-item *ngFor="let address of addresses" no-lines text-wrap class="fix-item-color">
          <ion-card [ngClass]="{'card-selected' : (selectedAddress == address.id)}"
                    (click)="selectAddress(address.id)">
            <ion-card-content>
              <strong>{{ address.street }}, {{ address.number }}.</strong> {{ address.district }}<br>
              {{ address.city}} - {{ address.state }}
            </ion-card-content>
            <span class="selected-icon" *ngIf="(selectedAddress == address.id)">
              <ion-icon name="checkmark-circle" color="bluebag-light"></ion-icon>
            </span>
          </ion-card>
        </ion-item>
      </ion-list>

      <button class="fix-btn-margin" ion-button color="bluebag-dark" (click)="nextSlide()"
              [disabled]="(selectedAddress == null)">Avançar
      </button>
    </ion-slide>
    <!-- END-ADDRESS-->

    <!-- PAYMENT -->
    <ion-slide>
      <p>Qual cartão deseja utilizar?</p>

      <ion-list *ngIf="cards.length != 0">
        <ion-item *ngFor="let card of cards" no-lines text-wrap class="fix-item-color">
          <ion-card [ngClass]="{'card-selected' : (selectedCard == card.id)}"
                    (click)="selectCard(card.id)">
            <ion-card-content>
              <strong>{{ card.number }}</strong><br>
              {{ card.name }}<br>
              {{card.date}}
            </ion-card-content>
            <span class="selected-icon" *ngIf="(selectedCard == card.id)">
              <ion-icon name="checkmark-circle" color="bluebag-light"></ion-icon>
            </span>
          </ion-card>
        </ion-item>
      </ion-list>

      <ion-item no-lines class="fix-margin-right">
        <ion-label floating>Parcelas</ion-label>
        <ion-select [(ngModel)]="numPayments" cancelText="Fechar" interface="action-sheet" (ionChange)="selectInstallment()">
          <ion-option *ngFor="let installment of paymentInstallments" [value]="installment.value">
            {{ installment.text }}
          </ion-option>
        </ion-select>
      </ion-item>

      <button class="fix-btn-margin" ion-button color="bluebag-dark" (click)="nextSlide()"
              [disabled]="(selectedCard == null)">Avançar
      </button>
      <button class="fix-btn-margin" ion-button outline color="bluebag-light" (click)="prevSlide()">Voltar</button>
    </ion-slide>
    <!-- END-PAYMENT -->

    <!-- REVIEW -->
    <ion-slide>
      <p>Confirme os dados do seu pedido</p>

      <button class="fix-btn-margin" ion-button color="danger" (tap)="createInvoice()">Efetuar compra</button>

      <!-- INVOICE ITEMS -->
      <ion-card>
        <ion-card-header class="card-selected-bg">
          <h2>Resumo do Pedido</h2>
        </ion-card-header>

        <ion-row padding>
          <ion-col col-6 text-left>
            <h2>Total a pagar: </h2>
          </ion-col>
          <ion-col col-6 text-right>
            <h2 class="invoice-total">R$ {{ totalValue }}</h2>
          </ion-col>
        </ion-row>

        <ion-card-content no-padding>

          <read-more [products]="products"></read-more>

        </ion-card-content>

      </ion-card>
      <!-- END-INVOICE ITEMS -->

      <!-- ADDRESS -->
      <ion-card>
        <ion-card-header class="card-selected-bg">
          <h2>Endereço de Entrega</h2>
        </ion-card-header>

        <ion-card-content no-padding>
          <ion-list no-lines text-wrap>

            <ion-item>
              <ion-icon name="home" item-left></ion-icon>
              <p>{{ address.street }}, {{ address.number }}. {{ address.district }}</p>
            </ion-item>

            <ion-item>
              <ion-icon name="map" item-left></ion-icon>
              <p>{{ address.city}} - {{ address.state }}</p>
            </ion-item>

            <ion-item>
              <ion-icon name="locate" item-left></ion-icon>
              <p>{{address.zipcode}}</p>
            </ion-item>

          </ion-list>
        </ion-card-content>
      </ion-card>
      <!-- END-ADDRESS -->

      <!-- PAYMENT -->
      <ion-card>
        <ion-card-header class="card-selected-bg">
          <h2>Dados do Pagamento</h2>
        </ion-card-header>

        <ion-card-content no-padding>
          <ion-list no-lines text-wrap>

            <ion-item>
              <ion-icon name="card" item-left></ion-icon>
              <p>{{ card.number }}</p>
            </ion-item>

            <ion-item>
              <ion-icon name="person" item-left></ion-icon>
              <p>{{ card.name }}</p>
            </ion-item>

            <ion-item>
              <ion-icon name="calendar" item-left></ion-icon>
              <p>{{card.date}}</p>
            </ion-item>

            <ion-item>
              <ion-icon name="cash" item-left></ion-icon>
              <p>{{selectedInstallment.text}}</p>
            </ion-item>

          </ion-list>
        </ion-card-content>
      </ion-card>
      <!-- END-ADDRESS -->

      <button class="fix-btn-margin" ion-button color="danger" (tap)="createInvoice()">Efetuar compra</button>
      <button class="fix-btn-margin" ion-button outline color="bluebag-light" (tap)="prevSlide()">Voltar</button>
    </ion-slide>
    <!-- END-REVIEW -->
  </ion-slides>
</ion-content>
