page-card-new {
  div.spinner {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 100px;
    text-align: center;
  }

  .fix-btn-margin {
    width: 95% !important;
    margin-left: 3%;
  }
}
