page-shopping-bag {
  div.spinner {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 100px;
    text-align: center;
  }

  input[type='number'] {
    -moz-appearance:textfield;
    display: inline;
    width: 50px;
    //border: 2px solid color($colors, bluebag-dark);
    padding: 2% 5% 3% 5%;
    text-align: center;
  }
  /* Webkit browsers like Safari and Chrome */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .product-value {
    font-size: 1.5em !important;
    font-weight: bold !important;
    padding-top: 10%;
    color: color($colors, bluebag-dark);
  }

  .product-amount {
    color: color($colors, gray);
    font-size: 0.9em !important;
    padding-top: 5%;
  }

  .btn-add{
    margin-left: 5%;
  }
  .btn-remove {
    margin-left: 5%;
    margin-right: 5%;
  }

  .btn-fix-padding {
    margin-top: 10% !important;
  }

  .center {
    text-align: center;
  }

  .header {
    color: #ffffff;
    background-color: color($colors, bluebag-light);
    padding: 1% 0;
  }

  .first-number {
    font-size: 1.4em;
  }

  div.fix-center {
    color: #414141;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 210px;
    text-align: center;
  }

  .img-container {
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat; // Não aglutinar essas duas propriedades
    background-position:center; // porque não funcionam da maneira desejada
    min-height: 100px;
    margin: 10% auto;
  }

  ion-col > h3 {
    font-size: 1.7em !important;
  }
}


