page-shopping-bag {
  h1 {
    line-height: 2px !important;
  }

  h2 {
    font-size: 1.3em !important;
    text-align: right;
    //color: #32db64;
    font-weight: bold !important;
    padding-top: 2%;
  }

  p {
    line-height: 30px;
  }

  .btn-fix-padding {
    margin-top: 10% !important;
  }

  .center {
    text-align: center;
  }

  .header {
    color: #ffffff;
    background-color: #0451ce;
    padding: 1% 0;
  }

  .first-number {
    font-size: 1.4em;
  }
}


