<ion-header>
  <ion-toolbar class="center">

    <ion-grid>
      <ion-row *ngIf="(getNumberItems() !== 0)">
        <ion-col col-5>
          {{ getNumberItems() }} item(s)
          <h3>R$ {{ getTotal() }}</h3>
        </ion-col>
        <ion-col col-7>
          <button ion-button small icon-right color="bluebag-dark" margin-vertical (click)="goToCheckoutPage()">Finalizar compra&nbsp;
            <ion-icon name="checkmark"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="(getNumberItems() === 0)">
        <ion-col col-12>
          {{ getNumberItems() }} item(s)
          <h3>R$ {{ getTotal() }}</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="spinner">
    <ion-spinner *ngIf="showLoading"></ion-spinner>
  </div>

  <div class="fix-center">
    <ion-grid *ngIf="!showLoading && products.length == 0">
      <ion-row>
        <ion-col col-12>
          <h2>Não há produtos na sacola</h2>
        </ion-col>
      </ion-row>

      <ion-row text-center>
        <ion-col col-12>
          <ion-icon name="basket" color="bluebag-light" style="font-size: 5em;"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row>
        <button ion-button block color="bluebag-light" (click)="goToDepartmentsPage()">Buscar produtos</button>
      </ion-row>
    </ion-grid>
  </div>

  <ion-list *ngIf="!showLoading" no-padding no-margin>
    <ion-item *ngFor="let product of products;" text-wrap text-center>
      <ion-thumbnail item-start>
        <img [src]="configProvider.base_url+'/products/'+product.id+'/photo'">
      </ion-thumbnail>
      <p>{{ product.name }}</p>

      <div class="product-amount" text-center>
        <button ion-button outline color="danger" class="btn-remove" (click)="removeAmount(product.id)">
          <ion-icon name="remove"></ion-icon>
        </button>
        <input type="number" [(ngModel)]="product.amount" (keyup)="updateAmount(product.id)">
        <button ion-button outline color="secondary" class="btn-add" (click)="addAmount(product.id)">
          <ion-icon name="add"></ion-icon>
        </button>
      </div>

      <h2 float-left class="product-value">R$ {{ product.value.toFixed(2).toString().replace('.', ',') }}</h2>
      <button ion-button icon-only clear float-right color="danger" class="btn-fix-padding" (click)="showConfirm(product.id)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
